{template 'common/header'}
<!--<body onload="opener.location.reload()">-->
<article id="wrapper">
	<div id="scroller">
		<header class="header">
			<a href="javascript:window.history.go(-1)" class="left"><img src="{php echo MODULE_URL}style/mobile/images/left-white.png"></a>
			<div class="center">收货地址</div>
			<input type="hidden" name="customer.userAccount" id="userAccount" value="">
		</header>
		{loop $info $item}
				<div class="address">
			<a href="{php echo $this->createMobileUrl('order',array('id'=>$id,'address'=>$item['id']))}" style="width: 100%;">
					<div class="addr-top">
						<p><span>{$item['name']}</span><span>{$item['phone']}</span></p>
						<p>{$item['address']}</p>
						<span class="idval">邮编:{$item['code']}</span>
					</div>
					<!--<div class="addr-btm">
						<div class="fr">
							<a href="{php echo $this->createMobileUrl('address',array('op'=>'add','id'=>$item['id']))}" class="edit">编辑</a>
							<a href="javascript:void(0);" onclick="dele({$item['id']})" class="del">删除</a>
						</div>
						<a href="javascript:void(0);" class="radio {if $item['mr'] == 2}cur{/if}" onclick="updateDefault({$item['id']},this)">默认地址</a>
					</div>-->
			</a>
				</div>
		{/loop}
		<div style="height:200px; position:relative;">
			<a href="{php echo $this->createMobileUrl('address',array('op'=>'add'))}" class="btn_col1">新增</a>
		</div>
	</div>
</article>
</body>
{template 'common/footer'}
