<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{php echo $this->title($_GPC['do'])}</title>
    <link rel="stylesheet" href="{php echo MODULE_URL}style/mobile/css/base.css">
    <link rel="stylesheet" href="{php echo MODULE_URL}style/mobile/css/page.css">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <script type="text/javascript" src="{php echo MODULE_URL}style/mobile/js/jquery.2.1.min.js" ></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <script>
    	var context = '';
    </script>
    <script src="{php echo MODULE_URL}style/mobile/js/set-meta.js"></script>
    <link type="text/css" rel="stylesheet" href="{php echo MODULE_URL}style/mobile/css/swiper.min.css" />
	<script type="text/javascript" src="{php echo MODULE_URL}style/mobile/js/swiper.min.js"></script>
	<script src="{php echo MODULE_URL}style/mobile/js/picscrollloading.js"></script>
	
	<link rel="stylesheet" href="{php echo MODULE_URL}style/mobile/css/public.css">
	<link rel="stylesheet" href="{php echo MODULE_URL}style/mobile/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{php echo MODULE_URL}style/mobile/css/com.css">
	<style>
		#scroller{ margin-bottom:118px; }
		.indexNoticeBox .swiper-slide a {
    		width: 80% !important;
    	}
	</style>
</head>
<body >