{template 'header'}
{template 'template'}
<div class="tpl-content-wrapper ">
	<link rel="stylesheet" href="{php echo MODULE_URL}style/css/goods.css">
	<link rel="stylesheet" href="{php echo MODULE_URL}style/css/umeditor.css">
	<div class="row-content am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<form id="my-form" action="" class="am-form tpl-form-line-form" method="post" novalidate="novalidate">
						<input type="hidden" name="id" id="id" value="{$info['id']}" />
						<div class="widget-body">
							<fieldset>
								<div class="widget-head am-cf">
									<div class="widget-title am-fl">新增文章</div>
								</div>
								<div class="am-form-group">
									<label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">文章标题 </label>
									<div class="am-u-sm-9 am-u-end">
										<input type="text" class="tpl-form-input" name="title" value="{$info['title']}" required="">
									</div>
								</div>
								<div class="am-form-group">
									<label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">发布时间 </label>
									<div class="am-u-sm-9 am-u-end">
										<input type="text" autocomplete="off" name="createtime" class="am-form-field" placeholder="请选择发布日期" data-am-datepicker="" value="{if !empty($info['createtime'])}{php echo date('Y-m-d',$info['createtime'])}{/if}">
										<!--<input type="text" class="tpl-form-input" name="title" value="{$info['title']}" required="">-->
									</div>
								</div>
								
								<div class="am-form-group">
									<label class="am-u-sm-3 am-u-lg-2 am-form-label">文章详情 </label>
									<div class="am-u-sm-9 am-u-end">
										<!-- 加载编辑器的容器 -->
										{php echo tpl_ueditor('body',$info['body']);}
									</div>
								</div>
								
								<div class="am-form-group">
									<label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">文章排序 </label>
									<div class="am-u-sm-9 am-u-end">
										<input type="number" class="tpl-form-input" name="sort" value="{$info['sort']}" required="" pattern="^-?(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\.\d+)?$">
										<small>数字越小越靠前</small>
									</div>
								</div>
								<div class="am-form-group">
									<div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
										<button type="button" class="j-submit zx-addBut ">提交</button>
									</div>
								</div>
							</fieldset>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{template 'footer'}
<script type="text/javascript">
	$('.j-submit').click(function(res){
		var title = $("input[name='title']").val();
		if(title == '' || title == undefined){
			layer.msg('请输入标题');
			return false;
		}
		var sort = $("input[name='sort']").val();
		if(sort == '' || sort == undefined){
			layer.msg('请输入排序');
			return false;
		}
		$.post("{php echo $this->createWebUrl('article',array('op'=>'add','type'=>'10'))}",$('#my-form').serialize(),function(res){
			console.log(res)
			if(res.code == 1){
				layer.msg(res.msg);
				return false;
			}else{
				layer.msg(res.msg);
				location.reload();
			}
		},"JSON");
	})
</script>