<link rel="stylesheet" href="{php echo MODULE_URL}style/css/amazeui.min.css">
<link rel="stylesheet" href="{php echo MODULE_URL}style/css/app.css">
<link rel="stylesheet" href="{php echo MODULE_URL}style/css/font_783249_3sbba6jrt9y.css">
<link rel="stylesheet" href="{php echo MODULE_URL}style/css/layer.css" >
<script src="{php echo MODULE_URL}style/js/jquery.min.js"></script>
<script src="{php echo MODULE_URL}style/js/font_783249_e5yrsf08rap.js"></script>
<script src="{php echo MODULE_URL}style/js/layer.js "></script>
<script src="{php echo MODULE_URL}style/js/jquery.form.min.js "></script>
<script src="{php echo MODULE_URL}style/js/amazeui.min.js "></script>
<link href="{php echo MODULE_URL}style/css/bootstrap.css" rel="stylesheet">
<style>
    .am-tabs .am-tabs-nav li a{
        padding: 0.5em 0.5em;
    }
</style>
<body style="background: #fff;">
<div class="widget am-cf">
    <div class="am-tabs" id="doc-my-tabs">
        {if $_GPC['type']!='member_menu'}
        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify am-tabs-nav am-cf">

            <li class="{if $type=='page'}am-active{/if} " ><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'page','dataid'=>$dataid));}">页面</a></li>
            <li class="{if $type=='cate'}am-active{/if} " ><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'cate','dataid'=>$dataid));}">分类</a></li>
            <li class="{if $type=='goods'}am-active{/if} "><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'goods','dataid'=>$dataid));}">产品</a></li>
            <li class="{if $type=='action_goods'}am-active{/if} "><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'action_goods','dataid'=>$dataid));}">活动产品</a></li>
            <li class="{if $type=='action_list'}am-active{/if} "><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'action_list','dataid'=>$dataid));}">活动列表</a></li>
            <li class="{if $type=='video'}am-active{/if} "><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'video','dataid'=>$dataid));}">视频</a></li>
            <li class="{if $type=='out_link'}am-active{/if} "><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'out_link','dataid'=>$dataid));}">H5页面</a></li>
            <li class="{if $type=='small'}am-active{/if} "><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'small','dataid'=>$dataid));}">小程序</a></li>
            <li class="{if $type=='phone'}am-active{/if} "><a href="{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'phone','dataid'=>$dataid));}">打电话</a></li>
        </ul>
        {/if}
        <div class="am-tabs-bd">
            <div class="am-tab-panel {if $type=='member_menu' }am-active{/if}" style="min-height: 300px;overflow: scroll;">
                <!--页面-->
                <select data-am-selected="" class="tpl-form-input" id="member_link_page" >
                    <option value="" data-val="">请选择...</option>
                    <option value="/pages/template/couponHall" data-img="addons/group_buy/public/bg/coupon.png" data-val="优惠券大厅">优惠券大厅</option>
                    <option value="/pages/template/coupon" data-img="addons/group_buy/public/bg/my_coupon.png" data-val="我的优惠卷">我的优惠卷</option>
                    <option value="/pages/group/groupList" data-img="addons/group_buy/public/bg/select_head.png" data-val="选择团长">选择团长</option>
                    <option value="/pages/groupCenter/index" data-img="addons/group_buy/public/bg/head_mannge.png" data-val="团长管理">团长管理</option>
                    <option value="/pages/group/groupApply" data-img="addons/group_buy/public/bg/head_mannge.png" data-val="申请团长">申请团长</option>
                    <option value="/pages/personal/groupInfo" data-img="addons/group_buy/public/bg/head_info.png" data-val="团长信息">团长信息</option>
                    <option value="/pages/commission/index" data-img="addons/group_buy/public/bg/distribution_center.png" data-val="分销中心">分销中心</option>
                    <option value="/pages/integralMall/index/index" data-img="addons/group_buy/public/bg/fraction_center.png" data-val="积分商城">积分商城</option>
                    <option value="/pages/personal/supplierInt" data-img="addons/group_buy/public/bg/apply_suppiler.png" data-val="供应商招募">供应商招募</option>
                    <option value="/pages/personal/questions" data-img="addons/group_buy/public/bg/frequently_asked_questions.png" data-val="常见问题">常见问题</option>
                    <option value="/pages/personal/qualification" data-img="addons/group_buy/public/bg/qualification_rules.png" data-val="资质规则">资质规则</option>
                    <option value="客服会话" data-img="addons/group_buy/public/bg/link_custom.png" data-val="客服会话">客服会话</option>
                    <option value="/pages/checkIn/index" data-img="addons/group_buy/public/bg/integral_check.png" data-val="积分签到">积分签到</option>
                    <option value="拨打客服电话" data-img="addons/group_buy/public/bg/mobile.png" data-val="拨打客服电话" data-type="tel">拨打客服电话</option>
                    <option value="/pages/goods/activeGoods?type=head_enjoy" data-img="addons/group_buy/public/bg/mobile.png" data-val="团长专享" data-type="tel">团长专享</option>
                </select>

            </div>
        <div class="am-tabs-bd">
            <div class="am-tab-panel {if $type=='page' }am-active{/if}" style="min-height: 300px;overflow: scroll;">
                 <!--页面-->
                <select data-am-selected="" class="tpl-form-input" id="link_page" >
                    <option value="" data-val="">请选择...</option>
                    <option value="/pages/template/index" data-val="首页">首页</option>
                    <option value="/pages/personal/personal" data-val="个人中心">个人中心</option>
                    <option value="/pages/template/cart" data-val="购物车">购物车</option>
                    <!--<option value="..//" data-val="产品列表">产品列表</option>-->
                    <!--<option value="..//" data-val="服务列表">服务列表</option>-->
                    <!--<option value="..//" data-val="文章列表">文章列表</option>-->
                    <option value="/pages/template/classify" data-val="产品分类列表" >产品分类列表</option>
                    <!--<option value="/pages/template/coupon" data-val="优惠券列表">优惠券列表</option>-->
                    <option value="/pages/group/groupApply" data-val="申请团长页">申请团长页</option>
                    <option value="/pages/personal/supplier" data-val="申请供应商页">申请供应商页</option>
                    {if $fraction ==1}
                    <option value="/pages/integralMall/index/index" data-val="积分商城页">积分商城页</option>
                    {/if}
                    {if $distribution ==1}
                    <option value="/pages/commission/index" data-val="分销中心页">分销中心页</option>
                    {/if}
                    {if $bargain ==1}
                    <option value="/plugins/pages/active/cutPrice" data-val="砍价中心页">砍价中心页</option>
                    {/if}
                    {if $team == 1}
                    	<option value="/plugins/pages/assemble/assemble" data-val="拼团列表">拼团列表</option>
                    {/if}
                    <option value="/pages/template/couponHall" data-val="领券中心">领券中心</option>
                    <option value="/pages/template/coupon" data-val="我的优惠卷">我的优惠卷</option>
                    {if $markrting_id==1}
                    <option value="/pages/member/overage" data-val="余额充值">余额充值</option>
                    {/if}
                    {if $card_id==1}
                    <option value="/pages/member/recharge" data-val="会员卡">会员卡</option>
                    {/if}
                    {if $sign_id==1}
                    <option value="/pages/checkIn/index" data-val="积分签到">积分签到</option>
                    {/if}
                    <!--<option value="..//" data-val="分销中心">分销中心</option>-->
                    <!--<option value="..//" data-val="分销中心">拼团列表</option>-->
                    <!--<option value="..//" data-val="分销中心">秒杀列表</option>-->
                    <!--<option value="..//" data-val="分销中心">一键拨号</option>-->
                    <!--<option value="..//" data-val="分销中心">一键导航</option> -->
                    <!--<option value="..//" data-val="分销中心">砍价列表</option>-->
                    <!--<option value="..//" data-val="分销中心">砍价详情</option>-->
                </select>

            </div>
            <div class="am-tab-panel {if $type=='cate'}am-active{/if}" style="min-height: 200px;">
                <!--产品-->
                <table class="am-table am-table-compact am-table-striped  am-text-nowrap" style="min-width: 300px;">
                    <!--<div class=" tpl-form-border-form zx-form-input zx-display zx-group">-->
                        <!--<input type="text" class="am-form-field" id="cate-query-title" name="title" placeholder="分类名称" value="{$_GPC['title']}" style="border-radius: 4px;width: 240px;">-->
                    <!--</div>-->
                    <!--<div class="zx-but-check">-->
                        <!--<button type="button" id="cate-query">-->
                            <!--<i class="fa fa-search"></i> 查询-->
                        <!--</button>-->
                    <!--</div>-->
                    <thead class="navbar-inner">
                    <tr>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="left">
                        <td>默认分类</td>
                        <td>
                            <span class="btn btn-info btn-xs content-checked" data-content="/pages/template/classify" >选取</span>
                        </td>
                    </tr>
                    {if !empty($cate)}
                    {loop $cate $k $v}
                    <tr align="left">
                        <td>
                            {php echo str_repeat("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",$v['gc_level'])}
                            {if $v['gc_level']==0}
                            <b>{$v['gc_name']}</b>
                            {else}
                            {$v['gc_name']}
                            {/if}
                        </td>
                        <td>
                            <span class="btn btn-info btn-xs content-checked" data-content="/pages/template/classify?pid={$v['gc_id']}" >选取</span>
                        </td>
                    </tr>
                    {/loop}
                    {/if}
                    </tbody>
                </table>
                <div>
                    {$page}
                </div>
            </div>
            <div class="am-tab-panel {if $type=='goods'}am-active{/if}" style="min-height: 200px;">
                <!--产品-->
                <table class="am-table am-table-compact am-table-striped  am-text-nowrap" style="min-width: 300px;">
                    <div class=" tpl-form-border-form zx-form-input zx-display zx-group">
                        <input type="text" class="am-form-field" id="goods-query-title" name="title" placeholder="商品名称" value="{$_GPC['title']}" style="border-radius: 4px;width: 240px;">
                    </div>
                    <div class="zx-but-check">
                        <button type="button" id="goods-query">
                            <i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <thead class="navbar-inner">
                    <tr>
                    <th>名称</th>
                    <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if !empty($goods)}
                    {loop $goods $k $v}
                    <tr align="left">
                    <td>{$v['g_name']}</td>
                    <td>
                    <span class="btn btn-info btn-xs content-checked" data-content="/pages/goods/goodsDetail?id={$v['g_id']}" >选取</span>
                    </td>
                    </tr>
                    {/loop}
                    {/if}
                    </tbody>
                </table>
                <div>
                    {$page}
                </div>
            </div>
            <div class="am-tab-panel {if $type=='action_goods'}am-active{/if}" style="min-height: 200px;">
                <!--活动产品-->
                <table class="am-table am-table-compact am-table-striped  am-text-nowrap" style="min-width: 300px;">
                    <div class=" tpl-form-border-form zx-form-input zx-display zx-group">
                        <input type="text" class="am-form-field" id="action-goods-query-title" name="title" placeholder="商品名称" value="{$_GPC['title']}" style="border-radius: 4px;width: 240px;">
                    </div>
                    <div class="zx-but-check">
                        <button type="button" id="action-goods-query" >
                            <i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <thead class="navbar-inner">
                    <tr>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if !empty($action_goods)}
                    {loop $action_goods $key $val}
                    <tr align="left">
                        <td>{$val['g_name']}</td>
                        <td>
                            <span class="btn btn-info btn-xs content-checked" data-content="/pages/goods/goodsDetail?id={$val['g_id']}&&at_id={$val['at_id']}" >选取</span>
                        </td>
                    </tr>
                    {/loop}
                    {/if}

                    </tbody>
                </table>
                <div>
                    {$page}
                </div>
            </div>
            <div class="am-tab-panel {if $type=='action_list'}am-active{/if}" style="min-height: 200px;">
                <!--活动列表-->
                <table class="am-table am-table-compact am-table-striped  am-text-nowrap" style="min-width: 300px;">
                    <div class=" tpl-form-border-form zx-form-input zx-display zx-group">
                        <input type="text" class="am-form-field" id="action-list-query-title" name="title" placeholder="活动名称" value="{$_GPC['title']}" style="border-radius: 4px;width: 240px;">
                    </div>
                    <div class="zx-but-check">
                        <button type="button" id="action-list-query" >
                            <i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <thead class="navbar-inner">
                    <tr>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if !empty($action_list)}
                    {loop $action_list $key $val}
                    <tr align="left">
                        <td>{$val['at_name']}</td>
                        <td>
                            <span class="btn btn-info btn-xs content-checked" data-content="/pages/goods/activeGoods?at_id={$val['at_id']}" >选取</span>
                        </td>
                    </tr>
                    {/loop}
                    {/if}

                    </tbody>
                </table>
                <div>
                    {$page}
                </div>
            </div>
            <div class="am-tab-panel {if $type=='out_link'}am-active{/if} am-form tpl-form-line-form" style="min-height: 200px;">
                <!--h5-->
                <div class="am-form-group">
                    <label class="am-u-sm-3 label-f am-form-label">H5链接地址：</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="form-control out-link-val"  value="" placeholder="H5外链地址">
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3 label-f am-form-label"></label>
                    <label class="am-u-sm-9 am-form-label" style="text-align: left;">
                        注意一：链接的网页必须支持SSL ，链接必须以 https:// 开头，否则无法跳转
                    </label>
                    <label class="am-u-sm-3 label-f am-form-label"></label>
                    <label class="am-u-sm-9 am-form-label" style="text-align: left;">
                        注意二：链接的域名必须是备案域名，否则无法跳转
                    </label>
                    <label class="am-u-sm-3 label-f am-form-label"></label>
                    <label class="am-u-sm-9 am-form-label" style="text-align: left;">
                        注意三：您的网站域名必须加到微信小程序公众平台的业务域名处,
                    </label>
                </div>
            </div>

            <div class="am-tab-panel {if $type=='small'}am-active{/if} am-form tpl-form-line-form" style="min-height: 200px;">
                <!--h5-->
                <div class="am-form-group">
                    <label class="am-u-sm-3 label-f am-form-label">小程序APPID：</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="form-control small-appid"  value="" placeholder="appid">
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3 label-f am-form-label">页面路径：</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="form-control small-val"  value="" placeholder="页面路径">
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3 label-f am-form-label"></label>
                    <label class="am-u-sm-9 am-form-label" style="text-align: left;">
                        注意一：同一个小程序链接其他小程序，最多只能链接10个，超过将不生效
                    </label>
                    <label class="am-u-sm-3 label-f am-form-label"></label>
                    <label class="am-u-sm-9 am-form-label" style="text-align: left;">
                        注意二：不能填写自身小程序appid
                    </label>
                    <label class="am-u-sm-3 label-f am-form-label"></label>
                    <label class="am-u-sm-9 am-form-label" style="text-align: left;">
                        注意三：小程序链接留空默认跳到小程序首页
                    </label>
                </div>
            </div>
            <div class="am-tab-panel {if $type=='phone'}am-active{/if} am-form tpl-form-line-form" style="min-height: 200px;">
                <!--h5-->
                <div class="am-form-group">
                    <label class="am-u-sm-3 label-f am-form-label">号码：</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="form-control phone-val"  value="" placeholder="电话号码">
                    </div>
                </div>

            </div>
            <div class="am-tab-panel {if $type=='video'}am-active{/if} am-form tpl-form-line-form" style="min-height: 200px;">
                <!--h5-->
                <div class="am-form-group">
                    <label class="am-u-sm-2 label-f am-form-label">视频：</label>
                    <div class="am-u-sm-9" style="float: left;">
                        <input type="text" class="form-control video-val"  value="" placeholder="视频地址">
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3 label-f am-form-label"></label>
                    <label class="am-u-sm-9 am-form-label" style="text-align: left;">
                      请填写小程序授权的合法域名地址
                    </label>
                </div>
            </div>
        </div>
    </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
        <div style="margin-left: 20px;">
            链接到&nbsp;&nbsp;<span id ="reslut"></span> <span class="btn btn-success sure-click" style="float: right">确定</span>
        </div>
    </div>
</div>

</body>
<script>
    $(function() {
        // $('#doc-my-tabs').tabs();
    })
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

    //用户中心菜单栏链接
    $(document).on("change","#member_link_page",function () {
        $("#reslut").html($("#member_link_page").children("option:selected").attr("data-val"));
        var types = $("#member_link_page").children("option:selected").attr("data-type");
        if(types == undefined || types == ''){
        	types = 'url';
        }
        parent.$(".showLink{$dataid}").children('.link-select').html($("#member_link_page").children("option:selected").val());
        parent.$(".showLink{$dataid}").children('.link-select-val').val($("#member_link_page").children("option:selected").val());
        parent.$(".showLinkName{$dataid}").children('.link-select-title').val($("#member_link_page").children("option:selected").attr("data-val"));
        parent.$("#ifrname_name").val($("#member_link_page").children("option:selected").attr("data-val"));
        parent.$("#ifrname_url").val($("#member_link_page").children("option:selected").val());
        parent.$("#ifrname_type").val(types);
        parent.$("#ifrname_img").val($("#member_link_page").children("option:selected").attr("data-img"));
    });
    //选择页面中传值
    $(document).on("change","#link_page",function () {
        $("#reslut").html($("#link_page").children("option:selected").attr("data-val"));
        parent.$(".showLink{$dataid}").children('.link-select').html($("#link_page").children("option:selected").attr("data-val"));
        parent.$(".showLink{$dataid}").children('.link-select-val').val($("#link_page").children("option:selected").val());
        parent.$("#ifrname_name").val($("#link_page").children("option:selected").attr("data-val"));
        parent.$("#ifrname_url").val($("#link_page").children("option:selected").val());
        parent.$("#ifrname_type").val('url');
    });
    //点确定取消弹窗
    $(document).on("click",".sure-click",function () {
        parent.layer.close(index);
    });
    //点击选取的时候传值
    $(document).on("click",".content-checked",function () {
        console.log($(this).parent().siblings('td').html())
        $("#reslut").html($(this).parent().siblings('td').html());
        parent.$(".showLink{$dataid}").children('.link-select').html($(this).parent().siblings('td').html());
        parent.$(".showLink{$dataid}").children('.link-select-val').val($(this).attr("data-content"));
        $(this).removeClass("btn-info").addClass("btn-success").html('已选取');
        parent.$("#ifrname_name").val($(this).parent().siblings('td').html());
        parent.$("#ifrname_url").val($(this).attr("data-content"));
        parent.$("#ifrname_type").val('url');
    });
    //当输入外链时
    $(document).on("input propertychange",".out-link-val",function () {
        $("#reslut").html('h5页面：'+$(this).val());
        parent.$(".showLink{$dataid}").children('.link-select').html($(this).val());
        parent.$(".showLink{$dataid}").children('.link-select-val').val($(this).val());
        parent.$("#ifrname_name").val($(this).val());
        parent.$("#ifrname_url").val($(this).val());
        parent.$("#ifrname_type").val('out_link');
    });
    //当输入小程序时
    $(document).on("input propertychange",".small-val",function () {
    	var small_val = $(".small-val").val() ==''?' ':$(".small-val").val();
    	var small_appid = $(".small-appid").val() ==''?' ':$(".small-appid").val();
        $("#reslut").html('小程序，'+small_val);
        parent.$(".showLink{$dataid}").children('.link-select').html('小程序页面:'+small_val);
        parent.$(".showLink{$dataid}").children('.link-select-val').val(small_val);
        parent.$("#ifrname_name").val(small_appid);
        parent.$("#ifrname_url").val(small_val);
        parent.$("#ifrname_type").val('app');
    });
    //当输入小程序时
    $(document).on("input propertychange",".small-appid",function () {
    	var small_val = $(".small-val").val() ==''?' ':$(".small-val").val();
    	var small_appid = $(".small-appid").val() ==''?' ':$(".small-appid").val();
        $("#reslut").html('小程序，'+small_val);
        parent.$(".showLink{$dataid}").children('.link-select').html('小程序页面:'+small_val);
        parent.$(".showLink{$dataid}").children('.link-select-val').val(small_val);
        parent.$("#ifrname_name").val(small_appid);
        parent.$("#ifrname_url").val(small_val);
        parent.$("#ifrname_type").val('app');
    });
    //拨打电话
    $(document).on("input propertychange",".phone-val",function () {
        $("#reslut").html('电话号码：'+$(".phone-val").val());
        parent.$(".showLink{$dataid}").children('.link-select').html($(this).val());
        parent.$(".showLink{$dataid}").children('.link-select-val').val($(this).val());
        parent.$("#ifrname_name").val('电话');
        parent.$("#ifrname_url").val($(this).val());
        parent.$("#ifrname_type").val('tel');
    });
    //视频
    $(document).on("input propertychange",".video-val",function () {
        $("#reslut").html('视频：'+$(".video-val").val());
        parent.$(".showLink{$dataid}").children('.link-select').html($(this).val());
        parent.$(".showLink{$dataid}").children('.link-select-val').val($(this).val());
        parent.$("#ifrname_name").val('视频');
        parent.$("#ifrname_url").val($(this).val());
        parent.$("#ifrname_type").val('video');
    });

    //活动产品查询
    $(document).on('click','#action-goods-query',function () {
        var title = $('#action-goods-query-title').val();
        if(title=='' || title==undefined){
            layer.msg('未输入查询条件');
            $('#action-goods-query-title').focus();
            return false;
        }
        var url = "{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'action_goods','dataid'=>$dataid));}&title="+title;
        window.location.href = url;
    });
    //活动产品查询
    $(document).on('click','#goods-query',function () {
        var title = $('#goods-query-title').val();
        if(title=='' || title==undefined){
            layer.msg('未输入查询条件');
            $('#goods-query-title').focus();
            return false;
        }
        var url = "{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'goods','dataid'=>$dataid));}&title="+title;
        window.location.href = url;
    });
    //活动查询
    $(document).on('click','#action-list-query',function () {
        var title = $('#action-list-query-title').val();
        if(title=='' || title==undefined){
            layer.msg('未输入查询条件');
            $('#action-list-query-title').focus();
            return false;
        }
        var url = "{php echo $this->createWebUrl('diy',array('op'=>'adLinkUrl','type'=>'action_list','dataid'=>$dataid));}&title="+title;
        window.location.href = url;
    });

</script>
