{template 'header'}
{template 'template'}
<style type="text/css">
	.btn-group .active {
	    background-color: #428bca;
	    color: #fff;
	}
	#url-copy:focus{
		border: 0 !important;
		box-shadow:none !important;
	}
</style>
<!--右侧详细内容区域 from 自定义-->
<div class="tpl-content-wrapper ">
	<!--本页自定义样式-->
	<!--<link rel="stylesheet" href="{php echo MODULE_URL}style/css/goods.css">-->
	<!--<link rel="stylesheet" href="{php echo MODULE_URL}style/css/umeditor.css">-->
	<!--右侧详细内容区域，灰框之内,from 妹子-->
	<div class="row-content am-cf">
		<!--2列式简单布局,from bootstap-->
		<div class="row">
			<!--12列布局,from 妹子-->
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<!--widget自定义右侧盒子 from 自定义 am-cf 清除全部浮动  from 妹子-->
				<div class="widget am-cf">
					<form action="{php echo $this->createWebUrl('supplier',array('op'=>'config'))}" method="post" class="am-form tpl-form-line-form" enctype="multipart/form-data">
						<!--右侧正文 from 自定义 -->
						<div class="widget-body">
							<!--右侧正文 规定所有边距为0 from bootstap -->
							<fieldset>
								<!--小标题 from 自定义-->
								<div class="widget-head am-cf">
									<div class="widget-title am-fl">供应商相关设置</div>
								</div>
								{if !empty($info)}
								<!--佣金配置-->
								<div class="am-form-group">
									<label class="am-u-sm-3 am-u-lg-2 am-form-label">供应商端后台入口 </label>
									<div class="am-u-sm-9 am-u-end">
										<a href="<?php echo  ((isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on') || (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https')) ? 'https://' : 'http://';?>{$_SERVER['SERVER_NAME']}/app/index.php?c=entry&m=group_buy&do=login&i={$weid}" target="_blank">
											<input type="text" value="<?php echo  ((isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on') || (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https')) ? 'https://' : 'http://';?>{$_SERVER['SERVER_NAME']}/app/index.php?c=entry&m=group_buy&do=login&i={$weid}" readonly style="border:0;outline: none;background: #fff !important;cursor: pointer;" id="url-copy"/>
											<!--<span class="text-info"></span>-->
										</a>
										<span style="color: blue;" onclick="Copy_url();return false;">【点击复制网址】</span>
									</div>
								</div>
								<div class="am-form-group">
									<label class="am-u-sm-3 am-u-lg-2 am-form-label">{$info['open_supplier_add_goods']['name']} </label>
									<div class="am-u-sm-9 am-u-end">
										<label class="am-checkbox-inline am-success">
											<input type="radio"  value="1" name="{$info['open_supplier_add_goods']['id']}" data-am-ucheck {php echo $info['open_supplier_add_goods']['value']!=2?"checked":''; }>
											是
										</label>
										<label class="am-checkbox-inline am-success">
											<input type="radio"  value="2" name="{$info['open_supplier_add_goods']['id']}"  data-am-ucheck {php echo $info['open_supplier_add_goods']['value']==2?"checked":''; }>
											否
										</label>
										<br/>
										<span class="color-9">设置是否审核添加商品</span>
									</div>
								</div>
								<div class="am-form-group">
									<label class="am-u-sm-3 am-u-lg-2 am-form-label">{$info['open_supplier_edit_goods']['name']} </label>
									<div class="am-u-sm-9 am-u-end">
										<label class="am-checkbox-inline am-success">
											<input type="radio"  value="1" name="{$info['open_supplier_edit_goods']['id']}" data-am-ucheck {php echo $info['open_supplier_edit_goods']['value']!=2?"checked":''; }>
											是
										</label>
										<label class="am-checkbox-inline am-success">
											<input type="radio"  value="2" name="{$info['open_supplier_edit_goods']['id']}"  data-am-ucheck {php echo $info['open_supplier_edit_goods']['value']==2?"checked":''; }>
											否
										</label>
										<br/>
										<span class="color-9">设置是否审核编辑商品</span>
									</div>
								</div>
								<div class="am-form-group">

									<label class="am-u-sm-3 am-u-lg-2 am-form-label">{$info['apply_supplier_img']['name']} </label>
									<div class="am-u-sm-9 am-u-end">
										{php echo tpl_ueditor($info['apply_supplier_img']['id'],$info['apply_supplier_img']['value']);}
										<span class="color-9">申请团长页进入时的引导申请广告图</span>
									</div>
									<label class="am-u-sm-3 am-u-lg-2 am-form-label">{$info['apply_supplier_text']['name']} </label>
									<div class="am-u-sm-9 am-u-end">
										{php echo tpl_ueditor($info['apply_supplier_text']['id'],$info['apply_supplier_text']['value']);}
										<span class="color-9">申请团长时显示的服务条款</span>
									</div>


								</div>
								{else}
								缺少配置，请联系管理员
								{/if}
								<div class="am-form-group">
									<div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
										<input type="hidden" name="submit" value="提交"/>
										<button type="submit" class="j-submit zx-addBut " id="btn" value="提交" data-am-loading="{spinner: 'circle-o-notch', loadingText: '提交中...'}">提交</button>
									</div>
								</div>
							</fieldset>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
    $('#btn').click(function(){
        var commission = $.trim($("#commission").val());
        if(!isOneToHundred(commission) ){
            layer.msg('请输入1到100正确的数，最多保留2位小数',{icon:2,time:2000});
            return false;
        }
    });
    function Copy_url() {
        var content = document.getElementById('url-copy');
        content.select();
        document.execCommand('Copy');
        layer.msg('复制成功');
    }
</script>
{template 'footer'}