<div class="">

	<div class="widget-head am-cf">
		<div class="widget-title am-cf">导航模块</div>
	</div>
	<div class="widget am-cf">
<div class="temp_item temp_item_space"  >

	<div class="frm_control_group" > 
		<label for="" class="frm_label">导航数量</label>
	   	<div class="frm_controls"> 
	   		<label class="frm_radio_label " ng-click="item.params.num = 4"> 
	   			<i class="icon_radio"></i> 
	   			<span class="lbl_content">4个</span>
	   			<input type="radio" name="ischange" value="4" on-selected class="frm_radio"  ng-model="item.params.num" /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="item.params.num = 5">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">5个</span>
	   			<input type="radio" name="ischange" value="5" on-selected  class="frm_radio"  ng-model="item.params.num"  /> 
	   		</label>
	   	</div>
	</div>

	<div class="frm_control_group">
		<label for="" class="frm_label">圆角处理</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="100" value="{{item.params.radius}}" name="radius"></li>
			<span class="my_slider_notice">{{item.params.radius}} 像素</span>
		</div>
	</div>
	<div class="frm_control_group">
		<label for="" class="frm_label">导航间距</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="30" value="{{item.params.padding}}" name="padding"></li>
			<span class="my_slider_notice">{{item.params.padding}} 像素</span>
		</div>
	</div>

	<div class="frm_control_group">
		<label for="" class="frm_label">背景颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.bgcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.bgcolor" />
			</span>
		</div>
	</div>
	<div class="frm_control_group">
		<label for="" class="frm_label">文字颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.fontcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.fontcolor" />
			</span>
		</div>
	</div>
	<div class="am-panel am-panel-default am-g " ui-sortable="sortableOptions" ng-model="item.params.data">
		<!--<div class="am-panel-hd">基础（默认）样式</div>-->
		<div class="am-panel-bd am-u-md-12 am-form" ng-repeat="good in item.params.data" ng-hide="$index == 4 && item.params.num == 4">
			<fieldset>
			<div class="am-u-md-3 " style=""  >
				<div class="am-u-md-12" ng-click="uploadImage(good,'goodimg')" style="border: 1px dashed #ccc;vertical-align: middle;height: 70px;width: 70px;line-height: 70px;padding: 0;">
					<img ng-if="good.img" class="upload_image_img"  ng-src="{{good.img}}"/>
					<div ng-if="!good.img " style="width: 100%;text-align: center;" ><i class="fa fa-plus fa-lg" ></i></div>
				</div>
				<div class="" style="text-align: center;color: #ccc;font-size: 12px;padding: 0;width: 70px;clear: both;">尺寸：96*96</div>
			</div>
			<div class="am-u-md-9" >
				<div class="am-form-group" style="min-height: 30px;">
					<label class="am-u-sm-3 am-form-label">名称:</label>
					<div class="am-u-sm-9">
						<input type="text" value="" class="" style="padding:0;line-height: 1.4;"  ng-model="good.title">
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">链接:</label>
					<div class="am-u-sm-9">
						<span style="border: 1px solid #ccc;padding: 5px 10px;border: 1px solid #ccc;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 200px;" class="showLink{{item.id}}{{good.id}}" ng-click="showLink(item.id,good.id)">
							<i class="fa fa-link"></i>&nbsp;&nbsp;&nbsp;<span class="link-select" >{{good.url_name?good.url_name:'请选择链接页面'}}</span><input type="hidden" name="url" class="link-select-val" value="" ng-model="good.url"/>
						</span>
					</div>
				</div>
				<span></span>

			</div>
				</fieldset>
		</div>

	</div>
	<!--<div class="edit_data_box" ui-sortable="sortableOptions" ng-model="item.params.data">-->
		<!--<div class="edit_data_item" ng-repeat="good in item.params.data" ng-hide="$index == 4 && item.params.num == 4">-->
			<!--&lt;!&ndash;<span class="delete_this" ng-click="deleteItem(item.id,good.id)">x</span>&ndash;&gt;-->
			<!--<div class="design_single_box item_cell_box">-->
				<!--<div class="item_cell_flex">-->
					<!--<div class="frm_control_group frm_control_group_editin">-->
						<!--<label for="" class="frm_label">导航名称</label>-->
						<!--<div class="frm_controls">-->
							<!--<span class="frm_input_box frm_input_200">-->
								<!--<input type="text" class="frm_input" ng-model="good.title" >-->
							<!--</span>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="frm_control_group frm_control_group_editin" >-->
						<!--<label for="" class="frm_label">点击动作</label>-->
						<!--<div class="frm_controls">-->
					    	<!--<label class="frm_radio_label" ng-click="good.type = 'url'"> -->
					    		<!--<i class="icon_radio"></i> -->
					    		<!--<span class="lbl_content">跳转页面</span>-->
					    		<!--<input type="radio" name="type{{$index}}" on-selected value="url" class="frm_radio"  ng-model="good.type"  /> -->
					    	<!--</label>-->
					    	<!--<label class="frm_radio_label " ng-click="good.type = 'weburl'">-->
					    		<!--<i class="icon_radio"></i>-->
					    		<!--<span class="lbl_content">跳转网页</span>-->
					    		<!--<input type="radio" name="type{{$index}}" on-selected value="weburl" class="frm_radio"  ng-model="good.type"  />-->
					    	<!--</label>-->
					    	<!--<label class="frm_radio_label" ng-click="good.type = 'other'"> -->
					    		<!--<i class="icon_radio"></i> -->
					    		<!--<span class="lbl_content">其他小程序</span>-->
					    		<!--<input type="radio" name="type{{$index}}" on-selected value="other" class="frm_radio"  ng-model="good.type"  /> -->
					    	<!--</label>	    	-->
					    	<!--<label class="frm_radio_label " ng-click="good.type = 'tel'">-->
					    		<!--<i class="icon_radio"></i>-->
					    		<!--<span class="lbl_content">拨打电话</span>-->
					    		<!--<input type="radio" name="type{{$index}}" on-selected value="tel" class="frm_radio"  ng-model="good.type"  /> -->
					    	<!--</label>-->
					    	<!--&lt;!&ndash;<label class="frm_radio_label " ng-click="good.type = 'share'">-->
					    		<!--<i class="icon_radio"></i>-->
					    		<!--<span class="lbl_content">分享提示</span>-->
					    		<!--<input type="radio" name="type{{$index}}" on-selected value="share" class="frm_radio"  ng-model="good.type"  /> -->
					    	<!--</label>&ndash;&gt;-->
					    	<!--<label class="frm_radio_label " ng-click="good.type = 'map'">-->
					    		<!--<i class="icon_radio"></i>-->
					    		<!--<span class="lbl_content">地图位置</span>-->
					    		<!--<input type="radio" name="type{{$index}}" on-selected value="map" class="frm_radio"  ng-model="good.type"  /> -->
					    	<!--</label>-->
					    	<!--<label class="frm_radio_label " ng-click="good.type = 'kefu'">-->
					    		<!--<i class="icon_radio"></i>-->
					    		<!--<span class="lbl_content">联系客服</span>-->
					    		<!--<input type="radio" name="type{{$index}}" on-selected value="kefu" class="frm_radio"  ng-model="good.type"  />-->
					    	<!--</label>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'url'">-->
						<!--<label for="" class="frm_label">跳转页面</label>-->
						<!--<div class="frm_controls">-->
							<!--<span class="frm_input_box frm_input_200 readonlybg">-->
								<!--<input type="text" class="frm_input " ng-model="good.urlname" readonly>-->
							<!--</span><a href="javascript:;" ng-click="showLink(item.id,good.id,'my')">设置链接</a>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'tel'">-->
						<!--<label for="" class="frm_label">电话号码</label>-->
						<!--<div class="frm_controls">-->
							<!--<span class="frm_input_box frm_input_200">-->
								<!--<input type="text" class="frm_input" ng-model="good.tel" >-->
							<!--</span>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'map'">-->
						<!--<label for="" class="frm_label">地图坐标</label>-->
						<!--<div class="frm_controls">-->
							<!--<span class="frm_input_box frm_input_200 readonlybg">-->
								<!--<input type="text" class="frm_input " value="{{good.lat +','+ good.lng}}" readonly>-->
							<!--</span><a href="javascript:;" ng-click="showMap( item.id,good.id )">选择坐标</a>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'other'">-->
						<!--<label for="" class="frm_label">小程序appid</label>-->
						<!--<div class="frm_controls">-->
							<!--<span class="frm_input_box frm_input_200">-->
								<!--<input type="text" class="frm_input" ng-model="good.appid" >-->
							<!--</span>-->
							<!--&lt;!&ndash;<a href="javascript:;" ng-click="showLink(item.id,good.id,'app')">选择</a>&ndash;&gt;-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'other'">-->
						<!--<label for="" class="frm_label">页面路径</label>-->
						<!--<div class="frm_controls">-->
							<!--<span class="frm_input_box frm_input_200">-->
								<!--<input type="text" class="frm_input" ng-model="good.appurl" >-->
							<!--</span>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'weburl'">-->
						<!--<label for="" class="frm_label">网页链接</label>-->
						<!--<div class="frm_controls">-->
							<!--<span class="frm_input_box frm_input_200">-->
								<!--<input type="text" class="frm_input" ng-model="good.weburl" >-->
							<!--</span>-->
							<!--<p class="font_999">注意一：链接的网页必须支持SSL ，链接必须以 https:// 开头，否则无法跳转<br/>-->
<!--注意二：链接的域名必须是备案域名，否则无法跳转<br/>-->
<!--注意三：您的网站域名必须加到微信小程序公众平台的业务域名处.</p>-->
						<!--</div>-->
					<!--</div>				-->
				<!--</div>-->
				<!--<div class="edit_image_upload" ng-click="uploadImage(good,'goodimg')">-->
					<!--<img class="upload_image_img" ng-src="{{good.img}}" >-->
					<!--<span class="edit_image_notice">修改图片</span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<a class="create_access_primary" href="javascript:;" ng-mousedown="delItem(item.id,$event)">-->
		<!--<i class="icon20_commons add_grays"></i> -->
	<!--</a>-->
</div>
	</div>
</div>