<div class="">

	<div class="widget-head am-cf">
		<div class="widget-title am-cf">活动商品模块</div>
	</div>
	<div class="widget am-cf">
		<!--<div class="frm_control_group" >-->
			<!--<label for="" class="frm_label" style="width: 6em;">标题显示风格</label>-->
			<!--<div class="frm_controls">-->
				<!--<label class="frm_radio_label "  ng-click="goodsTitle(item.id,1)">-->
					<!--<i class="icon_radio"></i>-->
					<!--<span class="lbl_content">风格1</span>-->
					<!--<input type="radio" name="goods_title_module" value="1" on-selected class="frm_radio"  ng-model="item.params.goods_title_module" />-->
				<!--</label>-->
				<!--<label class="frm_radio_label " ng-click="goodsTitle(item.id,2)">-->
					<!--<i class="icon_radio"></i>-->
					<!--<span class="lbl_content">风格2</span>-->
					<!--<input type="radio" name="goods_title_module" value="2" on-selected  class="frm_radio"  ng-model="item.params.goods_title_module"  />-->
				<!--</label>-->
				<!--<label class="frm_radio_label " ng-click="goodsTitle(item.id,0)">-->
					<!--<i class="icon_radio"></i>-->
					<!--<span class="lbl_content">不显示</span>-->
					<!--<input type="radio" name="goods_title_module" value="0" on-selected  class="frm_radio"  ng-model="item.params.goods_title_module"  />-->
				<!--</label>-->
			<!--</div>-->
		<!--</div>-->
		<div class="frm_control_group" >
			<label for="" class="frm_label" style="width: 6em;">商品显示风格</label>
			<div class="frm_controls">
				<label class="frm_radio_label "  ng-click="goodsType(item.id,1)">
					<i class="icon_radio"></i>
					<span class="lbl_content">风格1</span>
					<input type="radio" name="goods_module" value="1" on-selected class="frm_radio"  ng-model="item.params.goods_module" />
				</label>
				<label class="frm_radio_label " ng-click="goodsType(item.id,2)">
					<i class="icon_radio"></i>
					<span class="lbl_content">风格2</span>
					<input type="radio" name="goods_module" value="2" on-selected  class="frm_radio"  ng-model="item.params.goods_module"  />
				</label>
				<label class="frm_radio_label " ng-click="goodsType(item.id,3)">
					<i class="icon_radio"></i>
					<span class="lbl_content">风格3</span>
					<input type="radio" name="goods_module" value="3" on-selected  class="frm_radio"  ng-model="item.params.goods_module"  />
				</label>
				<label class="frm_radio_label " ng-click="goodsType(item.id,4)">
					<i class="icon_radio"></i>
					<span class="lbl_content">风格4</span>
					<input type="radio" name="goods_module" value="4" on-selected  class="frm_radio"  ng-model="item.params.goods_module"  />
				</label>
				<label class="frm_radio_label " ng-click="goodsType(item.id,5)">
					<i class="icon_radio"></i>
					<span class="lbl_content">风格5</span>
					<input type="radio" name="goods_module" value="5" on-selected  class="frm_radio"  ng-model="item.params.goods_module"  />
				</label>
			</div>
		</div>
		<!--<div class="frm_control_group" >
			<label for="" class="frm_label" style="width: 6em;">是否显示分类</label>
			<div class="frm_controls">
				<label class="frm_radio_label "  ng-click="goodsIsclass(item.id,1)">
					<i class="icon_radio"></i>
					<span class="lbl_content">显示</span>
					<input type="radio" name="is_class" value="1" on-selected class="frm_radio"  ng-model="item.params.is_class" />
				</label>
				<label class="frm_radio_label " ng-click="goodsIsclass(item.id,0)">
					<i class="icon_radio"></i>
					<span class="lbl_content">不显示</span>
					<input type="radio" name="is_class" value="0" on-selected  class="frm_radio"  ng-model="item.params.is_class"  />
				</label>
			</div>
		</div>-->
		<div class="frm_control_group" >
			<label for="" class="frm_label" style="width: 6em;">是否显示左上角图标</label>
			<div class="frm_controls">
				<label class="frm_radio_label "  ng-click="goodsIsNew(item.id,1)">
					<i class="icon_radio"></i>
					<span class="lbl_content">显示</span>
					<input type="radio" name="is_new" value="1" on-selected class="frm_radio"  ng-model="item.params.is_new" />
				</label>
				<label class="frm_radio_label " ng-click="goodsIsNew(item.id,0)">
					<i class="icon_radio"></i>
					<span class="lbl_content">不显示</span>
					<input type="radio" name="is_new" value="0" on-selected  class="frm_radio"  ng-model="item.params.is_new"  />
				</label>
			</div>
		</div>
		<div class="frm_control_group" style="display:none">
			<label for="" class="frm_label" style="width: 6em;">是否显示热销</label>
			<div class="frm_controls">
				<label class="frm_radio_label "  ng-click="goodsIsHot(item.id,1)">
					<i class="icon_radio"></i>
					<span class="lbl_content">显示</span>
					<input type="radio" name="is_hot" value="1" on-selected class="frm_radio"  ng-model="item.params.is_hot" />
				</label>
				<label class="frm_radio_label " ng-click="goodsIsHot(item.id,0)">
					<i class="icon_radio"></i>
					<span class="lbl_content">不显示</span>
					<input type="radio" name="is_hot" value="0" on-selected  class="frm_radio"  ng-model="item.params.is_hot"  />
				</label>
			</div>
		</div>
		<div class="frm_control_group">
			<label for="" class="frm_label">圆角处理</label>
			<div class="frm_controls ">
				<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="100" value="{{item.params.radius}}" name="radius"></li>
				<span class="my_slider_notice">{{item.params.radius}} 像素</span>
			</div>
		</div>
		<div class="frm_control_group">
			<label for="" class="frm_label">边距</label>
			<div class="frm_controls ">
				<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="30" value="{{item.params.margin}}" name="margin"></li>
				<span class="my_slider_notice">{{item.params.margin}} 像素</span>
			</div>
		</div>
		<!--<div class="frm_control_group" >-->
			<!--<label for="" class="frm_label">产品来源</label>-->
			<!--<div class="frm_controls">-->
				<!--<select name="product_from" style="width: 50%;">-->
					<!--<option value="" >请选择...</option>-->
					<!--<option value="{{item.at_id}}" ng-repeat="item in name" ng-model="item.params.type">{{item.at_name}}</option>-->
				<!--</select>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="frm_control_group" >-->
			<!--<label for="" class="frm_label" style="width: 6em;">产品数量</label>-->
			<!--<div class="frm_controls">-->
				<!--<select name="num" style="width: 50%;">-->
					<!--<option value="2"  ng-model="item.params.num">2</option>-->
					<!--<option value="4"  ng-model="item.params.num">4</option>-->
					<!--<option value="6"  ng-model="item.params.num">6</option>-->
					<!--<option value="8"  ng-model="item.params.num">8</option>-->
					<!--<option value="10"  ng-model="item.params.num">10</option>-->
					<!--<option value="12"  ng-model="item.params.num">12</option>-->
					<!--<option value="14"  ng-model="item.params.num">14</option>-->
					<!--<option value="14"  ng-model="item.params.num">16</option>-->
					<!--<option value="14"  ng-model="item.params.num">18</option>-->
					<!--<option value="14"  ng-model="item.params.num">20</option>-->
				<!--</select>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="frm_control_group" >-->
			<!--<label for="" class="frm_label">产品排序</label>-->
			<!--<div class="frm_controls">-->
				<!--<select >-->
					<!--<option value="时间">请选择</option>-->
				<!--</select>-->
			<!--</div>-->
		<!--</div>-->
	</div>
</div>