<div class="">

	<div class="widget-head am-cf">
		<div class="widget-title am-cf">公告</div>
	</div>
	<div class="widget am-cf">
		<div class="temp_item temp_item_basic" >


<div class="temp_item temp_item_space"  >

	<div class="frm_control_group" > 
		<label for="" class="frm_label">公告名称</label>
	   	<div class="frm_controls">
			<span class="frm_input_box frm_input_400">
				<input type="text" class="frm_input" ng-model="item.params.name" value="{{item.params.name}}">
			</span>
	   	</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">公告内容</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_400">
				<textarea  class="frm_input" ng-model="item.params.content" >{{item.params.content}}</textarea>
			</span>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">公告图标</label>
		<div class="frm_controls">
			<div class="am-u-md-12" ng-click="uploadImage(item.id,'icon')" style="border: 1px dashed #ccc;vertical-align: middle;height: 70px;width: 70px;line-height: 70px;padding: 0;">
				<img  class="upload_image_img"  ng-src="{{item.params.icon}}"/>
			</div>
		</div>
	</div>


	<div class="frm_control_group">
		<label for="" class="frm_label">背景颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.bgcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.bgcolor" />
			</span>
		</div>
	</div>
	<div class="frm_control_group">
		<label for="" class="frm_label">文字颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.color" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.color" />
			</span>
		</div>
	</div>


	<a class="" href="javascript:;" ng-mousedown="delItem(item.id,$event)">
		<i class="icon20_commons add_grays"></i> 删除
	</a>
</div>

		</div></div></div>
