{template 'header'}
<!-- 内容区域 start -->
<div class="tpl-content-wrapper">
	<div class="row-content am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-cf">文章列表</div>
					</div>
					<div class="widget-body am-fr">
						<!-- 工具栏 -->
						<div class="page_toolbar am-margin-bottom-xs am-cf">
							<form class="toolbar-form" action="./index.php">
								<input type="hidden" name="c" value="site">
					            <input type="hidden" name="a" value="entry">
					            <input type="hidden" name="m" value="group_buy_plugin_fraction">
					            <input type="hidden" name="do" value="article">
								<div class="am-u-sm-12 am-u-md-9 am-u-sm-push-3">
									<div class="am fr">
										<div class="am-form-group am-fl">
											<div class="am-input-group am-input-group-sm tpl-form-border-form">
												<input type="text" class="am-form-field" name="title" placeholder="请输入文章标题" value="{$from['title']}">
												<div class="am-input-group-btn">
													<button class="am-btn am-btn-default am-icon-search" type="submit"></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>

						<div class="am-scrollable-horizontal am-u-sm-12">
							<table width="100%" class="am-table am-table-compact am-table-striped
                         tpl-table-black am-text-nowrap">
								<thead>
									<tr>
										<th>ID</th>
										<th>标题</th>
										<th>排序</th>
										<th>添加时间</th>
										<th>发布时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									{if !empty($info)}
										{loop $info $item}
											<tr>
												<td class="am-text-middle">{$item['id']}</td>
												<td class="am-text-middle">{$item['title']}</td>
												<td class="am-text-middle">{$item['sort']}</td>
												<td class="am-text-middle">{php echo date('Y-m-d H:i',$item['time'])}</td>
												<td class="am-text-middle">{php echo date('Y-m-d H:i',$item['createtime'])}</td>
												<td class="am-text-middle">
													<div class="tpl-table-black-operation">
														<a href="{php echo $this->createWebUrl('article',array('op'=>'add','id'=>$item['id']))}">
															<i class="am-icon-pencil"></i> 编辑
														</a>
														<a href="javascript:;" class="item-delete tpl-table-black-operation-del" data-id="{$item['id']}">
															<i class="am-icon-trash"></i> 删除
														</a>
													</div>
												</td>
											</tr>
										{/loop}
									{else}
										<tr><td colspan="10" style="text-align: center;">暂无数据</td></tr>
									{/if}
								</tbody>
							</table>
						</div>
						<div class="am-u-lg-12 am-cf" style="text-align: right;">
							{$page}
							<div class="am-fr pagination-total am-margin-right">
								<div class="am-vertical-align-middle">总记录：{$total}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			// 删除元素
			$('.item-delete').click(function(){
				var id = $(this).data('id');
				layer.confirm('一但删除将无法恢复，确定删除吗？', {
					title: '友情提示'
				}, function(index) {
					$.post("{php echo $this->createWebUrl('article',array('op'=>'delete'))}", {
						id: id,
					}, function(result) {
						result.code === 0 ? layer.msg(result.msg, {icon: 1}) :layer.msg(result.msg, {icon: 2});
						location.reload();
					},"JSON");
				})
			})
		});
	</script>

</div>
<!-- 内容区域 end -->
{template 'footer'}