{template 'header'}
<style>
    #check_layer,#check_layer_step2,#change_money_layer{

        display: none;
    }
    .check_list{
        text-align: center;
    }
    .check_list li{
        margin-top: 10px;
        text-align: center;
    }
</style>
<!-- 内容区域 start -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-cf">团长'{$nick_name}'的团队</div>
                    </div>
                    <div class="widget-body am-fr">
                        <!-- 工具栏 -->
                        <div class="am-tabs" id="doc-my-tabs" data-am-tabs>
                            <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify am-tabs-nav am-cf" id="tabs">
                                <li class="am-active ">
                                    <a href="javascript:;">一级</a>
                                </li>
                                <li class=" ">
                                    <a href="javascript:;">二级</a>
                                </li>
                                <li class=" ">
                                    <a href="javascript:;">三级</a>
                                </li>

                            </ul>
                            <div class="am-tabs-bd">
                                {loop $list $k $v}
                                <div class="am-tab-panel {if $k==1}am-active{/if}" style="min-height: 200px;">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                                        <tr>
                                            <th>编号</th>
                                            <th>昵称</th>
                                            <th>社区</th>
                                            <th>注册时间</th>
                                            <th>成为下级时间</th>
                                        </tr>
                                        {loop $v $kk $vv}
                                        <tr>
                                            <td class="am-text-middle">{$vv['m_id']}</td>
                                            <td class="am-text-middle"><img src="{$vv['m_photo']}" width="50px" style="border-radius: 100%"/>&nbsp;&nbsp;{$vv['m_nickname']}</td>
                                            <td class="am-text-middle">
                                                社区名：{$vv['m_head_shop_name']}<br/>
                                                地址：{$vv['m_head_address']}<br/>
                                                电话：{$vv['m_phone']}<br/>
                                            </td>
                                            <td class="am-text-middle">{$vv['m_add_time']}</td>
                                            <td class="am-text-middle">{$vv['c_time']}</td>
                                        </tr>
                                        {/loop}
                                    </table>
                                </div>
                                {/loop}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    {template 'footer'}
    <script type="text/javascript"> 
        $(function () {
            $(document).on('click','#tabs li',function () {
                var index = $("#tabs li").index(this);
                $("#tabs li").removeClass('am-active');
                $(this).addClass('am-active');
                // console.log(index);
                $('.am-tabs-bd .am-tab-panel').removeClass('am-active');
                $('.am-tabs-bd .am-tab-panel').eq(index).addClass('am-active');
            })
        })
    </script>
