{template 'header'}
<!-- 内容区域 start -->
<div class="tpl-content-wrapper">
	<div class="row-content am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-cf">申请团长列表</div>
					</div>
					<div class="widget-body am-fr">
						<!-- 工具栏 -->
						<div class="page_toolbar am-margin-bottom-xs am-cf">
							<form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
								<input type="hidden" name="c" value="site">
								<input type="hidden" name="a" value="entry">
								<input type="hidden" name="m" value="group_buy">
								<input type="hidden" name="do" value="plsugins">
								<input type="hidden" name="op" value="extension">
								<input type="hidden" name="in" value="wantHead">

								<div class="am-u-sm-12 ">
									<span class="zx-form-span">
										编号：
									</span>
									<div class="am-form-group tpl-form-border-form zx-form-input zx-display zx-group">
										<input type="text" class="am-form-field" name="num" placeholder="编号" value="{$_GPC['num']}" style="border-radius: 4px;width: 240px;">
									</div>
									<span class="zx-form-span">
										用户名：
									</span>
									<div class="am-form-group tpl-form-border-form zx-form-input zx-display zx-group">
										<input type="text" class="am-form-field" name="title" placeholder="用户名" value="{$_GPC['title']}" style="border-radius: 4px;width: 240px;">
									</div>

								</div>
								<div class="am-u-sm-12 ">
									<span class="zx-form-span">
										电话：
									</span>
									<div class="am-form-group tpl-form-border-form zx-form-input zx-display zx-group">
										<input type="text" class="am-form-field" name="phone" placeholder="电话" value="{$_GPC['phone']}" style="border-radius: 4px;width: 240px;">
									</div>
									<span class="zx-form-span">
										&nbsp;&nbsp;&nbsp;姓名：
									</span>
									<div class="am-form-group tpl-form-border-form zx-form-input zx-display zx-group">
										<input type="text" class="am-form-field" name="name" placeholder="姓名" value="{$_GPC['name']}" style="border-radius: 4px;width: 240px;">
									</div>
									<!-- 查询按钮样式 -->
									<div class="zx-but-check">
										<button type="submit" >
											<i class="fa fa-search"></i> 查询
										</button>
									</div>
								</div>
							</form>
							<div class="am-scrollable-horizontal am-u-sm-12">
								<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
									<thead class="navbar-inner">
									<tr>
										<th style="width:50px;">编号</th>
										<th style="width:50px;">头像</th>
										<th style="width:60px;">昵称</th>
										<th style="width:150px;">提交信息</th>
										<th style="width:70px;">审核状态</th>
										<th style="width:120px;">备注</th>
										<th style="width:120px;">处理说明</th>
										<th style="width:150px;">操作</th>
									</tr>
									</thead>
									<tbody>
									{if !empty($info)}
									{loop $info $key $item}
									<tr>
										<td>{$item['m_id']}</td>
										<td>
											<img src="{php echo $item['m_photo']}" width="50"/>
										</td>
										<td>{php echo empty($item['m_nickname'])?"暂无":$item['m_nickname']}
										</td>
										<td>
											姓名：{php echo empty($item['ah_name'])?"未提交":$item['ah_name']}<br/>
											电话：{php echo empty($item['ah_phone'])?"未提交":$item['ah_phone']}<br/>
											社区名：{php echo empty($item['ah_shop_name'])?"未提交":$item['ah_shop_name']}<br/>
											{if !empty($item['ah_recommend_nickname'])}
											<span class="text-danger"><b>推荐团长：{$item['ah_recommend_nickname']}</b></span>
											{/if}
										</td>
										<td>
											{if $item['ah_result'] == 1 }
											<span class="text-danger ">未审核</span>
											{elseif $item['ah_result'] == -1}
											<span class="text-info">拒绝</span>
											{elseif $item['ah_result'] == -2}
											<span class="text-warning">已通过</span>
											{/if}
										</td>
										<td>{php echo empty($item['m_comment'])?"暂无":$item['m_comment']}
										<td>{php echo empty($item['ah_message'])?"<span class='text-danger '>暂无</span>":$item['ah_message']}
										<td><!--删除可以用ajax实现-->
											{if $item['ah_result'] == 1 }
											<a href="{php echo $this->createWebUrl('plsugins',array('op'=>'extension','in'=>'deal','id'=>$item['ah_id']))}"  class="btn btn-success btn-xs">处理</a>
											{/if}
											<a href="{php echo $this->createWebUrl('plsugins',array('op'=>'extension','in'=>'info','id'=>$item['ah_id']))}"  class="btn btn-info btn-xs">详情</a>
											<a class="btn btn-danger btn-xs" onclick="deletes('{$item['ah_id']}')">删除</a>

										</td>
									</tr>
									{/loop}
									{else}
									<tr>
										<td colspan="3">
											没有数据
										</td>
									</tr>
									{/if}
									</tbody>
								</table>
							</div>
							<div class="am-u-lg-12 am-cf" style="text-align: right;">
								{$page}
								<div class="am-fr pagination-total am-margin-right">
									<div class="am-vertical-align-middle">总记录：{$total}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{template 'footer'}
<script type="text/javascript">
	function deletes(id){
		if(id == '' || id == undefined){
			layer.msg('非法进入',{icon:2,time:1000});
			return false;
		}
		layer.confirm("确定删除吗？",{icon:3,title:"提示"},function (index) {
            $.post("{php echo $this->createWebUrl('head',array('op'=>'del'))}",{id:id},function(res){
                layer.close(index);
                if(res.status == 0){
                    layer.msg(res.msg,{icon:1,time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                }else{
                    layer.msg(res.msg,{icon:2,time:1000});
                }
            },"JSON")
        })

	}
</script>
