{template 'header'}
<!-- 内容区域 start -->
<div class="tpl-content-wrapper ">
	<div class="row-content am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-cf">消息中心</div>
					</div>
					<div class="widget-body am-fr">
						<!-- 工具栏 -->
						<div class="page_toolbar am-margin-bottom-xs am-cf">
							<form class="toolbar-form" action="./index.php">
								<input type="hidden" name="c" value="site">
								<input type="hidden" name="a" value="entry">
								<input type="hidden" name="m" value="group_buy_plugin_fraction">
								<input type="hidden" name="do" value="notice">
								
								<div class="am-u-sm-12 am-u-md-9">
									<div class="am fr">
										<div class="am-form-group tpl-form-border-form am-fl">
											<input type="text" autocomplete="off" name="star_time" class="am-form-field" placeholder="请选择起始日期"
											 data-am-datepicker="" value="{$_GPC['star_time']}">
										</div>
										<div class="am-form-group tpl-form-border-form am-fl">
											<input type="text" autocomplete="off" name="end_time" class="am-form-field" placeholder="请选择截止日期"
											 data-am-datepicker="" value="{$_GPC['end_time']}">
										</div>
										<div class="am-form-group am-fl">
											<select name="status" data-am-selected="{searchBox: 1, btnSize: &#39;sm&#39;, placeholder:&#39;请选择状态&#39;, maxHeight: 400}"
											 style="display: none;">
												<option value="">全部</option>
												<option value="1" {if $_GPC['status']==1} selected="" {/if}>已读 </option> <option value="2" {if
												 $_GPC['status']==2} selected="" {/if}>未读</option>
											</select>
										</div>

										
									</div>
								</div>

								<!-- 订单导出外层Box -->
								<div class="am-u-sm-12 am-fl">
									<!-- 订单导出样式 -->
									<div class="zx-but-box">
										<a href="{php echo $this->createWebUrl('notice',array('op'=>'add'))}">
											消息发送
										</a>
									</div>
									<!-- 查询按钮样式 -->
									<div class="zx-but-check" style="margin-left:8px;">
										<button type="submit">
											查询
										</button>
									</div>
								</div>
							</form>
						</div>

						<div class="am-scrollable-horizontal am-u-sm-12">
							<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
								<thead>
									<tr>
										<th>ID</th>
										<th>用户名称</th>
										<th>电话号码</th>
										<th>消息</th>
										<th>发送消息时间</th>
										<th>是否读取</th>
									</tr>
								</thead>
								<tbody>
									{if !empty($info)}
									{loop $info $item}
									<tr>
										<td class="am-text-middle">{$item['id']}</td>
										<td class="am-text-middle">
											<p class="item-title">{$item['m_nickname']}</p>
										</td>
										<td class="am-text-middle">{$item['m_phone']}</td>
										<td class="am-text-middle">{$item['content']}</td>
										<td class="am-text-middle">{php echo date('Y-m-d H:i:s',$item['time'])}</td>
										<td class="am-text-middle">
											{if $item['code'] == 1}否
											{else}是
											{/if}
										</td>
										<!--<td class="am-text-middle">
													<div class="tpl-table-black-operation">
														<a href="{php echo $this->createWebUrl('goods',array('op'=>'add','id'=>$item['g_id']))}">
															<i class="am-icon-pencil"></i> 编辑
														</a>
														<a href="javascript:;" class="item-delete tpl-table-black-operation-del" data-id="{$item['g_id']}">
															<i class="am-icon-trash"></i> 删除
														</a>
														<a class="tpl-table-black-operation-green" href="{php echo $this->createWebUrl('goods',array('op'=>'add','id'=>$item['g_id'],'type'=>10))}">
															一键复制
														</a>
													</div>
												</td>-->
									</tr>
									{/loop}
									{else}
									<tr>
										<td colspan="9" style="text-align: center;">暂无数据</td>
									</tr>
									{/if}
								</tbody>
							</table>
						</div>
						<div class="am-u-lg-12 am-cf">
							<div class="am-fr"> </div>
							<div class="am-fr pagination-total am-margin-right">
								{$page}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {

			// 商品状态
			$('.j-state').click(function () {
				// 验证权限
				if (!"1") {
					return false;
				}
				var data = $(this).data();
				if (data.type == 'g_is_online') {
					var d = '确定要' + (parseInt(data.state) === 1 ? '下架' : '上架') + '该商品吗？';
				}
				layer.confirm(d, {
					title: '友情提示'
				}, function (index) {
					$.post("{php echo $this->createWebUrl('goods',array('op'=>'state'))}", {
						goods_id: data.id,
						state: parseInt(data.state) === 1 ? -1 : 1,
						type: data.type,
					}, function (result) {
						result.code === 0 ? layer.msg(result.msg, {
							icon: 1
						}) : layer.msg(result.msg, {
							icon: 2
						});
						location.reload();
					}, "JSON");
					layer.close(index);
				});

			});

			// 删除元素
			$('.item-delete').click(function () {
				var id = $(this).data('id');
				layer.confirm('确定要删除该商品吗？', {
					title: '友情提示'
				}, function (index) {
					$.post("{php echo $this->createWebUrl('goods',array('op'=>'delete'))}", {
						id: id,
					}, function (result) {
						result.code === 0 ? layer.msg(result.msg, {
							icon: 1
						}) : layer.msg(result.msg, {
							icon: 2
						});
						location.reload();
					}, "JSON");
				})

			})
			$("input[name='type']").change(function (res) {
				var data = $(this).data();
				$.post("{php echo $this->createWebUrl('goods',array('op'=>'state'))}", {
					goods_id: data.id,
					state: parseInt(data.state) === 1 ? -1 : 1,
					type: data.type,
				}, function (result) {
					result.code === 0 ? layer.msg(result.msg, {
						icon: 1
					}) : layer.msg(result.msg, {
						icon: 2
					});
				}, "JSON");
			})
		});
	</script>
</div>
<!-- 内容区域 end -->
</div>
{template 'footer'}