{template 'header'}
<!-- 内容区域 start -->
<div class="tpl-content-wrapper">
	<div class="row-content am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-cf">等待生成配送单</div>
					</div>
					<div class="widget-body am-fr">
						<!-- 工具栏 -->
						<div class="page_toolbar am-margin-bottom-xs am-cf">
							<form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
								<input type="hidden" name="c" value="site">
								<input type="hidden" name="a" value="entry">
								<input type="hidden" name="m" value="group_buy">
								<input type="hidden" name="do" value="distribution">
								<input type="hidden" name="op" value="wait">
								<div class="am-u-sm-12 ">
									<div class="am fr">

										<div class="am-form-group am-fl">
											<div class="am-input-group am-input-group-sm tpl-form-border-form">
												<!--<input class="form-control" name="name" id="" type="text" value="{$name}" placeholder="活动名称">-->
												<input type="text" class="am-form-field" name="title" placeholder="店铺/小区/团长名称" value="{$title}" style="border-radius: 4px;width: 240px;">
											</div>
										</div>

										<!-- 查询按钮样式 -->
										<div class="zx-but-check">
											<button type="submit" >
												<i class="fa fa-search"></i> 查询
											</button>
										</div>
									</div>
								</div>

							</form>
						</div>

						<div class="am-scrollable-horizontal am-u-sm-12">
							<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
								<thead class="navbar-inner">
								<tr>
									<th style="width:70px;">订单号</th>
									<!--<th style="width:100px;">链接类型</th>-->
									<th style="width:100px;">店铺/小区</th>
									<th style="width:100px;">团长</th>
									<th style="width:80px;">商品总数</th>
									<th style="width:150px;">操作</th>
								</tr>
								</thead>
								<tbody>
								{if !empty($info)}
								{loop $info $key $item}
								<tr>
									<td>{$item['oss_go_code']}</td>
									<td>{$item['oss_v_name']}</td>
									<td>{$item['oss_head_name']}</td>
									<td>{$item['total']}</td>

									<td><!--删除可以用ajax实现-->
										<a href="{php echo $this->createWebUrl('distribution',array('op'=>'add','id'=>$item['oss_go_code']))}"  class="btn btn-info btn-xs">去生成配送单</a>

									</td>
								</tr>
								{/loop}
								{else}
								<tr>
									<td colspan="3">
										没有数据
									</td>
								</tr>
								{/if}
								</tbody>
							</table>
							</table>
						</div>

						<div class="am-u-lg-12 am-cf" style="text-align: right;">
							{$page}
							<div class="am-fr pagination-total am-margin-right">
								<div class="am-vertical-align-middle">总记录：{$total}</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{template 'common/footer'}
{template 'footer'}
<script type="text/javascript">

</script>
</div>