{template 'header'}
<!-- 内容区域 start -->
<div class="tpl-content-wrapper">
	<div class="row-content am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-cf">运费模板列表</div>
					</div>
					<div class="widget-body am-fr">
						<!-- 工具栏 -->
						<div class="page_toolbar am-margin-bottom-xs am-cf">
							<form class="toolbar-form" action="./index.php">
								<input type="hidden" name="c" value="site">
								<input type="hidden" name="a" value="entry">
								<input type="hidden" name="m" value="group_buy">
								<input type="hidden" name="do" value="config">
								<input type="hidden" name="op" value="shipping">
								<div class="am-u-sm-12 ">
									<div class="am fr">
										<span class="zx-form-span">
										名称：
										</span>
										<div class="am-form-group tpl-form-border-form zx-form-input zx-display zx-group">
												<input type="text" class="am-form-field" name="key" placeholder="关键词" value="{$key}" style="border-radius: 4px;width: 240px;">
										</div>
										<!-- 查询按钮样式 -->
										<div class="zx-but-check">
											<button type="submit" >
												<i class="fa fa-search"></i> 查询
											</button>
										</div>
									</div>
								</div>
								<!-- 订单导出外层Box -->
								<div class="am-u-sm-12 am-fl">
									<div class="am-btn-group am-btn-group-xs zx-end-checked-box" style="display: none;">
										<button type="button" class="btn btn-danger" id="del-all-checked" href="{php echo $this->createWebUrl('action',array('op'=>'add'));}">
											<i class="fa fa-trash-o"></i> 删除
										</button>
									</div>
									<div class="am-btn-group am-btn-group-xs">
										<a class="zx-addBut" href="{php echo $this->createWebUrl('config',array('op'=>'shipping_add'));}">
											<i class="fa fa-plus"></i> 新增
										</a>
									</div>
								</div>
							</form>
						</div>
						<div class="am-scrollable-horizontal am-u-sm-12">
							<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
								<thead>
								<tr>
									<th>
										<label class="am-checkbox-inline am-success">
										<input type="checkbox" value="" name="zx-checked-all" data-am-ucheck>&nbsp;
										</label>
									</th>
									<th>名称</th>
									<th>计费方式</th>
									<th>首重(首件)价格</th>
									<th>续重(续件)价格</th>
									<th>状态</th>
									<th>默认</th>
									<th>顺序</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								{if !empty($info)}
								{loop $info $item}
								<tr>
									<td class="am-text-middle">
										<label class="am-checkbox-inline am-success">
										<input type="checkbox" value="{$item['id']}"  name="zx-checked-list" data-am-ucheck>&nbsp;
										</label>
									</td>
									<td class="am-text-middle">{$item['name']}</td>
									{if $item['type']==1}
									<td class="am-text-middle">按重量计费</td>
									<td class="am-text-middle">{$item['firstprice']}</td>
									<td class="am-text-middle">{$item['secondprice']}</td>
									{else}
									<td class="am-text-middle">按件计费</td>
									<td class="am-text-middle">{$item['firstnumprice']}</td>
									<td class="am-text-middle">{$item['secondnumprice']}</td>
									{/if}
									<td class="am-text-middle">
										{if $item['enabled'] == 1}
										<a onclick="setStatus('{$item['id']}',0)"  >
										<span class="btn btn-info btn-xs">启用</span>
										</a>
										{elseif $item['enabled'] == 0}
										<a onclick="setStatus('{$item['id']}',1)"  >
											<span class="btn btn-warning btn-xs">禁用</span>
										</a>
										{/if}
									</td>
									<td class="am-text-middle">
										{if $item['isdefault'] == 1}
										<a onclick="setDefault('{$item['id']}',2)"  >
											<span class="btn btn-info btn-xs">是</span>
										</a>
										{elseif $item['isdefault'] == 2}
										<a onclick="setDefault('{$item['id']}',1)"  >
											<span class="btn btn-warning btn-xs">否</span>
										</a>
										{/if}
									</td>
									<td class="am-text-middle">{$item['sort_order']}</td>
									<td class="am-text-middle"><!--删除可以用ajax实现-->
										<div class="tpl-table-black-operation">

											<a href="{php echo $this->createWebUrl('config',array('op'=>'shipping_add','id'=>$item['id']))}" >
												<i class="am-icon-pencil"></i>
												编辑
											</a>
											<a href="javascript:;" class="item-delete tpl-table-black-operation-del" data-id="{$item['id']}">
												<i class="am-icon-trash"></i>
												删除
											</a>

										</div>
										<!--<a href="{php echo $this->createWebUrl('action',array('op'=>'add','id'=>$item['at_id']))}"  class="btn btn-info btn-xs">修改</a>-->
										<!--<a class="btn btn-danger btn-xs" onclick="if(confirm('是否删除?')){deletes('{$item['at_id']}')}else{return false;}">删除</a>-->

									</td>
								</tr>

								{/loop}
								{else}
								<tr>
									<td colspan="10" style="text-align: center;">暂无数据</td>
								</tr>
								{/if}
								</tbody>
							</table>
						</div>
						<div class="am-u-lg-12 am-cf" style="text-align: right;">
							{$page}
							<div class="am-fr pagination-total am-margin-right">
								<div class="am-vertical-align-middle">总记录：{$total}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>

        $(function () {

            // 删除元素
            $(document).on('click','.item-delete',function () {
                var id = $(this).data('id');
                layer.confirm('一但删除将无法恢复，确定删除吗？', {
                    title: '友情提示'
                }, function (index) {
                    $.post("{php echo $this->createWebUrl('config',array('op'=>'shippingDel'))}", {
                        id: id,
                    }, function (res) {
                        if(res.status === 0){
                            layer.msg(res.msg, {
                                icon: 1
                            });
                            setTimeout(function(){
                                location.reload();
                            }, 1000);
						}else if(res.status === 1){
                            layer.msg(res.msg, {
                                icon: 2
                            });
						}
						layer.close(index);
                    }, "JSON");
                })
            });
            //点击全文删除按钮
            $(document).on('click','#del-all-checked',function () {
                var ids = '';
                $('input[name=zx-checked-list]:checked').each(function () {
					ids += ','+$(this).val();
                });
                $.post("{php echo $this->createWebUrl('config',array('op'=>'shippingDel'))}", {id: ids,}, function (res) {
                    if(res.status === 0){
                        layer.msg(res.msg, {
                            icon: 1
                        });
                        setTimeout(function(){
                            location.reload();
                        }, 1000);
                    }else if(res.status === 1){
                        layer.msg(res.msg, {
                            icon: 2
                        });
                    }
                }, "JSON");
            });
            //表格第一行全选或者不全选
			$(document).on('change',"input[name=zx-checked-all]",function () {
				if($(this).is(":checked")){
				    $("input[name=zx-checked-list]").prop("checked",true);
				}else{
                    $("input[name=zx-checked-list]").prop("checked",false);
				}
                seeCheckedBox();
            });
            $(document).on('change',"input[name=zx-checked-list]",function () {
                if($(this).is(":checked")){
                    $('.zx-end-checked-box').show();
                }else{
                    seeCheckedBox();
                }
            });
			//函数，检查是否有选中的多选框，有则显示关联内容
			function seeCheckedBox() {
			    var count = 0;
                $("input[name=zx-checked-list]:checked").each(function () {
					count++;
					return false;
                });
                if( count > 0 ){
					$('.zx-end-checked-box').show();
				}else{
                    $('.zx-end-checked-box').hide();
				}
            }
            //监听可修改单元格的值编号
			$(document).on("blur",".zx-edit-td-input",function () {
			    console.log(1);
			    var id = $(this).attr("data-id");
			   var old = $(this).attr("data-val");
			   var now = $(this).val();
			   if( old == now ){
			       return false;
			   }else if( $.trim(now) != '' && $.trim(now)!=undefined ){
                    $.post("{php echo $this->createWebUrl('action',array('op'=>'setOrder'))}", {id: id,val:now}, function (res) {
                        if(res.status === 0){
                            layer.msg(res.msg, {
                                icon: 1
                            });
                            setTimeout(function(){
                                location.reload();
                            }, 1000);
                        }else if(res.status === 1){
                            layer.msg(res.msg, {
                                icon: 2
                            });
                        }
                    }, "JSON");
			   }
            })
		});
        //快捷改变状态
		function setStatus(id,v) {
            if(id == '' || id == undefined){
                layer.msg('非法进入',{icon: 2,time:1000});
                return false;
            }

			$.post("{php echo $this->createWebUrl('config',array('op'=>'setShippingStatus'))}",{id:id,val:v},function(res){
				if(res.status == 0){
					layer.msg(res.msg,{icon: 1,time:1000});
					setTimeout(function(){
						location.reload();
					}, 1000);
				}else{
					layer.msg(res.msg,{icon: 2,time:1000});
				}
			},"JSON")
        }
        //快捷改变默认
        function setDefault(id,v) {
            if(id == '' || id == undefined){
                layer.msg('非法进入',{icon: 2,time:1000});
                return false;
            }
            if(v == '' || v == undefined){
                layer.msg('非法进入',{icon: 2,time:1000});
                return false;
            }
            $.post("{php echo $this->createWebUrl('config',array('op'=>'setShippingDefault'))}",{id:id,val:v},function(res){
                if(res.status == 0){
                    layer.msg(res.msg,{icon: 1,time:1000});
                    setTimeout(function(){
                        location.reload();
                    }, 1000);
                }else{
                    layer.msg(res.msg,{icon: 2,time:1000});
                }
            },"JSON")
        }
	</script>

</div>
<!-- 内容区域 end -->
{template 'footer'}
