{template 'header'}
<style>
    #check_layer,#check_layer_step2{

        display: none;
    }
    .check_list{
        text-align: center;
    }
    .check_list li{
        margin-top: 10px;
        text-align: center;
    }
</style>
<!-- 内容区域 start -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-cf">团长"{$nick_name}"推广分销流水</div>
                    </div>
                    <div class="widget-body am-fr">
                        <!-- 工具栏 -->
                        <div class="page_toolbar am-margin-bottom-xs am-cf">
                            <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">

                                <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">

                                    <label class="col-xs-12 col-sm-1 col-md-1 col-lg-1 control-label">团长分销余额:</label>
                                    <div class="col-xs-12 col-sm-2 col-lg-2 control-label">
                                        {$head_money}（元）
                                    </div>

                                    <label class="col-xs-12 col-sm-1 col-md-1 col-lg-1 control-label">团长分销总收入:</label>
                                    <div class="col-xs-12 col-sm-2 col-lg-2 control-label">
                                        {$total_money}（元）
                                    </div>

                                </div>

                                <input type="hidden" name="c" value="site">
                                <input type="hidden" name="a" value="entry">
                                <input type="hidden" name="m" value="group_buy">
                                <input type="hidden" name="do" value="head">
                                <input type="hidden" name="op" value="team_log">
                                <input type="hidden" name="uid" value="{$uid}">
                                <div class="am-u-sm-12 ">
                                    <div class="am-form-group tpl-form-border-form zx-form-input zx-display zx-group">
                                        <input type="text" class="am-form-field" name="key" placeholder="关键词" value="{$_GPC['key']}" style="border-radius: 4px;width: 240px;">
                                    </div>
                                    <div class="am-form-group tpl-form-border-form zx-form-input zx-display zx-group" style="width: 260px;font-size: 12px;">
                                        <input type="text" class="am-form-field" name="time" id="date_pick" placeholder="日期" value="{$time_range}" style="border-radius: 4px;width: 240px;font-size: 12px;" readonly>
                                        <input type="hidden" name="time_start" value="{$_GPC['time_start']}">
                                        <input type="hidden" name="time_end" value="{$_GPC['time_end']}">
                                    </div>
                                    <!-- 查询按钮样式 -->
                                    <div class="zx-but-check">
                                        <button type="submit" >
                                            <i class="fa fa-search"></i> 查询
                                        </button>
                                    </div>
                                </div>
                            </form>

                                <div class="am-scrollable-horizontal am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-text-nowrap">
                                        <thead class="navbar-inner">
                                        <tr>
                                            <th >类型</th>
                                            <th >金额</th>
                                            <th >说明</th>
                                            <th >操作时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {if !empty($log)}
                                        {loop $log $k $v}
                                        <tr>
                                            <td class="am-text-middle">{php echo $v['type']==1?'增加':($v['type']==2?'减少':($v['type']==3?'冻结':($v['type']==4?'提现':'解冻')))}</td>
                                            <td class="am-text-middle"><font color="{php echo $v['type']==1?'green':($v['type']==2?'red':($v['type']==3?'red':($v['type']==4?'red':'green')))}">{php echo $v['type']==1?'+':($v['type']==2?'-':($v['type']==3?'-':($v['type']==4?'-':'+')))}{$v['money']}</font></td>
                                            <td class="am-text-middle">
                                                {$v['info']}
                                                {if !empty($v['order_code'])}
                                                    <br/>
                                                订单号：{$v['order_code']}
                                                {/if}
                                            </td>
                                            <td class="am-text-middle">{php echo date('Y-m-d H:i:s',$v['create_time'])}</td>
                                        </tr>
                                        {/loop}
                                        {else}
                                        <tr>
                                            <td colspan="999">
                                                暂无数据
                                            </td>
                                        </tr>
                                        {/if}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr" style="float: left;">
                                        <a class="zx-addBut" href="javascript:window.history.go(-1) ;">返回</a>
                                    </div>

                                    {$page}

                                    <div class="am-fr pagination-total am-margin-right">
                                        <div class="am-vertical-align-middle">总记录：{$total}</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    //时间选择器，暂时不换
    laydate.render({
        elem: '#date_pick'
        ,type: 'datetime'
        ,format: 'yyyy-M-d H:m:s' //可任意组合
        ,ready: function(date){
            console.log(date); //得到初始的日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
        }
        ,range: true
        ,theme: '#22c397'
        ,done:function (value, date, endDate) {
            var time_start = date.year+'-'+date.month+'-'+date.date+' '+date.hours+':'+date.minutes+':'+date.seconds;
            var time_end = endDate.year+'-'+endDate.month+'-'+endDate.date+' '+endDate.hours+':'+endDate.minutes+':'+endDate.seconds;
            $('input[name=time_start]').val(time_start);
            $('input[name=time_end]').val(time_end);
        }
    });
</script>
    {template 'footer'}

