<div class="temp_item temp_item_space"  >

	<div class="frm_control_group" > 
	  	<label for="" class="frm_label">自动切换</label> 
	   	<div class="frm_controls"> 
	   		<label class="frm_radio_label " ng-click="item.params.ischange = 0"> 
	   			<i class="icon_radio"></i> 
	   			<span class="lbl_content">切换</span>
	   			<input type="radio" name="ischange" value="0" on-selected class="frm_radio"  ng-model="item.params.ischange" /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="item.params.ischange = 1">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">不切换</span>
	   			<input type="radio" name="ischange" value="1" on-selected  class="frm_radio"  ng-model="item.params.ischange"  /> 
	   		</label>
	   	</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.ischange == 0">
		<label for="" class="frm_label">切换时间间隔</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="10" value="{{item.params.changetime}}" name="changetime"></li>
			<span class="my_slider_notice">{{item.params.changetime}} 秒</span>
		</div>
	</div>
	<div class="frm_control_group">
		<label for="" class="frm_label">图片高度</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="150" max="500" value="{{item.params.height}}" name="height"></li>
			<span class="my_slider_notice">{{item.params.height}} px</span>
		</div>
	</div>

	<div class="frm_control_group">
		<label for="" class="frm_label">滑动时长</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="5000" value="{{item.params.changelast}}" name="changelast"></li>
			<span class="my_slider_notice">{{item.params.changelast}} 毫秒 <font class="font_mini">(1秒=1000毫秒)</font></span>
		</div>
	</div>


	<div class="frm_control_group" > 
	  	<label for="" class="frm_label">显示指示点</label> 
	   	<div class="frm_controls"> 
	   		<label class="frm_radio_label " ng-click="item.params.showpoint = 0"> 
	   			<i class="icon_radio"></i> 
	   			<span class="lbl_content">显示</span>
	   			<input type="radio" name="showpoint" value="0" on-selected class="frm_radio"  ng-model="item.params.showpoint" /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="item.params.showpoint = 1">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">不显示</span>
	   			<input type="radio" name="showpoint" value="1" on-selected  class="frm_radio"  ng-model="item.params.showpoint"  /> 
	   		</label>	   		   		   		
	   	</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.showpoint == 0">
		<label for="" class="frm_label">指示点颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.pointcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.pointcolor" />
			</span>
		</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.showpoint == 0">
		<label for="" class="frm_label">选中的指示点颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.actcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.actcolor" />
			</span>
		</div>
	</div>		
			

	<div class="edit_data_box" ui-sortable="sortableOptions" ng-model="item.params.data">
		<div class="edit_data_item" ng-repeat="good in item.params.data">
			<span class="delete_this" ng-click="deleteItem(item.id,good.id)">x</span>
			<div class="design_single_box item_cell_box">
				<div class="item_cell_flex">
					<div class="frm_control_group frm_control_group_editin" >
						<label for="" class="frm_label">点击动作</label>
						<div class="frm_controls">
					    	<label class="frm_radio_label" ng-click="good.type = 'url'"> 
					    		<i class="icon_radio"></i> 
					    		<span class="lbl_content">跳转页面</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="url" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'weburl'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">跳转网页</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="weburl" class="frm_radio"  ng-model="good.type"  />
					    	</label>
					    	<label class="frm_radio_label" ng-click="good.type = 'other'"> 
					    		<i class="icon_radio"></i> 
					    		<span class="lbl_content">其他小程序</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="other" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>	    	
					    	<label class="frm_radio_label " ng-click="good.type = 'tel'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">拨打电话</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="tel" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>
					    	<!--<label class="frm_radio_label " ng-click="good.type = 'share'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">分享提示</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="share" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'map'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">地图位置</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="map" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>-->
					    	<label class="frm_radio_label " ng-click="good.type = 'kefu'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">联系客服</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="kefu" class="frm_radio"  ng-model="good.type"  />
					    	</label>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'url'">
						<label for="" class="frm_label">跳转页面</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200 readonlybg">
								<input type="text" class="frm_input " ng-model="good.urlname" readonly>
							</span><a href="javascript:;" ng-click="showLink(item.id,good.id,'my')">设置链接</a>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'tel'">
						<label for="" class="frm_label">电话号码</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.tel" >
							</span>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'map'">
						<label for="" class="frm_label">地图坐标</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200 readonlybg">
								<input type="text" class="frm_input " value="{{good.lat +','+ good.lng}}" readonly>
							</span><a href="javascript:;" ng-click="showMap( item.id,good.id )">选择坐标</a>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'other'">
						<label for="" class="frm_label">小程序appid</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.appid" >
							</span>
							<!--<a href="javascript:;" ng-click="showLink(item.id,good.id,'app')">选择</a>-->
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'other'">
						<label for="" class="frm_label">页面路径</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.appurl" >
							</span>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'weburl'">
						<label for="" class="frm_label">网页链接</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.weburl" >
							</span>
							<p class="font_999">注意一：链接的网页必须支持SSL ，链接必须以 https:// 开头，否则无法跳转<br/>
注意二：链接的域名必须是备案域名，否则无法跳转<br/>
注意三：您的网站域名必须加到微信小程序公众平台的业务域名处.</p>
						</div>
					</div>									
					

					<!-- <div style="margin-top: 5px;">
						跳转页面<span class="frm_input_box frm_input_200 readonlybg">
							<input readonly type="text" class="frm_input" ng-model="good.urlname">
						</span><a href="javascript:;" ng-click="showLink(item.id,good.id)">设置链接</a>
					</div> -->
				</div>
				<div class="edit_image_upload" ng-click="uploadImage(good,'goodimg')">
					<img class="upload_image_img" ng-src="{{good.img}}" >
					<span class="edit_image_notice">修改图片</span>
				</div>
			</div>			
		</div>
		<a class="create_access_primary" href="javascript:;" ng-click="addgood(item.params.data)">
			<i class="icon20_common add_gray"></i>    
		</a>
	</div>
	<a class="create_access_primary" href="javascript:;" ng-mousedown="delItem(item.id,$event)">
		<i class="icon20_commons add_grays"></i> 
	</a>
</div>