<div class="temp_item temp_item_basic" >
	<!--<div class="frm_control_group" ng-if="op == 'add'">
		<label for="" class="frm_label">导入页面</label>
		<div class="frm_controls">
			<a href="javascript:;" ng-click="loadpage()">选择页面</a>
		</div>
	</div>-->
	<!--<div class="frm_control_group">
		<label for="" class="frm_label">备注名称</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_400">
				<input type="text" class="frm_input" ng-model="basic.name">
			</span>
			<p class="font_mini frm_input_300">备注名称，便于区别不同的页面</p>
		</div>
	</div>-->
	<div class="frm_control_group" >
		<label for="" class="frm_label">顶部背景颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="basic.topbg" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="basic.topbg" />
			</span>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">顶部文字颜色</label>
		<div class="frm_controls">
	    	<label class="frm_radio_label" ng-click="basic.topcolor = '#000000'">
	    		<i class="icon_radio"></i> 
	    		<span class="lbl_content">黑色</span>
	    		<input type="radio" name="topcolor" on-selected value="#000000" class="frm_radio"  ng-model="basic.topcolor"  /> 
	    	</label> 
	    	<label class="frm_radio_label " ng-click="basic.topcolor = '#ffffff'">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content">白色</span>
	    		<input type="radio" name="topcolor" on-selected value="#ffffff" class="frm_radio"  ng-model="basic.topcolor"  /> 
	    	</label>
		</div>
	</div>	
	<div class="frm_control_group">
		<label for="" class="frm_label">页面标题</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_400">
				<input type="text" class="frm_input" ng-model="basic.title">
			</span>
		</div>
	</div>
	<!--<div class="frm_control_group">
		<label for="" class="frm_label">转发标题</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_300">
				<input type="text" class="frm_input" ng-model="basic.sharetitle">
			</span>
		</div>
	</div>-->
	<!--<div class="frm_control_group">
		<label for="" class="frm_label">转发图片</label>
		<div class="frm_controls">
			<div class="edit_image_upload" ng-click="uploadImage(basic.id,'shareimg')">
				<img class="upload_image_img" ng-src="{{basic.shareimg}}" >
				<span class="edit_image_notice">修改</span>
			</div>
		</div>
	</div>-->
	<!--<div class="frm_control_group" > 
	  	<label for="" class="frm_label">显示导航</label> 
	   	<div class="frm_controls"> 
	    	<label class="frm_radio_label" ng-click="basic.isbar = 0"> 
	    		<i class="icon_radio"></i> 
	    		<span class="lbl_content">显示</span>
	    		<input type="radio" name="isbar" on-selected value="0" class="frm_radio"  ng-model="basic.isbar"  /> 
	    	</label> 
	    	<label class="frm_radio_label " ng-click="basic.isbar = 1">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content">不显示</span>
	    		<input type="radio" name="isbar" on-selected value="1" class="frm_radio"  ng-model="basic.isbar"  /> 
	    	</label>
	   	</div>
	</div>-->
</div>