	.btn-group .active {
		background-color: #428bca;
		color: #fff;
	}
	.am-tabs-d2 .am-tabs-nav{
		background: #fff;
		border-bottom: 1px solid #eef1f5;
	}
	.am-tabs-nav{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.am-tabs .am-tabs-nav li{
		width: 120px;
		line-height: 40px;
		height: 40px;
		padding: 0;
	}
	.am-tabs .am-tabs-nav li a{
		width: 120px;
		line-height: 40px;
		height: 40px;
		padding: 0;
		display: block;
		margin: 0;
		text-align: center;
		background: #fff;
	}
	.am-tabs-d2 .am-tabs-nav>.am-active {
		position: relative;
		background-color: #fcfcfc;
		border-bottom: 2px solid #22c397;
	}
	.am-tabs-d2 .am-tabs-nav>.am-active a{
		color: #22c397;
	}
	.am-tabs-d2 .am-tabs-nav>.am-active:after{
		border-bottom-color: #22c397;
	}
	/*选项卡end*/
	.zx-edit-td-input:focus{
		outline: 1px  dashed #22c397;
	}
	.am-switch-success-zx>input[type=checkbox]:checked~.am-switch-checkbox{
		background: #22c397;
	}
.btn { outline: none; }
.main-container>.main-container-inner, .page-content { background-color: #F8F9FB; }
.version-manage { padding: 30px; }
.version-manage .title-name h2 { margin: 0; font-size: 24px; line-height: 36px; margin-bottom: 35px; display: inline-block; margin-right: 20px; }
.version-item-box { background-color: #fff; border-radius: 4px;box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);padding: 20px 30px 30px; margin-bottom: 30px; }
.code-version-title { margin-bottom: 20px; }
.code-version-title h3 { margin: 0; font-weight: 400; font-size: 19px; line-height: 1.6; display: inline-block; margin-right: 20px; padding: 0; }
.simple_preview_label { float: left; color: #9a9a9a; width: 5em; }
.code-version-left { float: left; width: 120px; }
.code-version-left .simple_preview_label { float: none; width: 6em; }
.simple_preview_value { word-wrap: break-word; word-break: break-all; height: auto;}
.code-version-left .simple_preview_value { font-size: 22px; display: block; padding-top: 2px; }
.simple_preview_item .simple_preview_value{margin-left: 5em;}
.code-version-right { float: right; margin-left: 30px; }
.code-version-right .btn-box { position: relative; }
.code-version-right .btn > [class*="icon-"] { margin: 0; font-size: 18px; font-weight: bold; }
.code-version-bd { margin-left: 120px; margin-right: 150px; }
.status_tag { font-size: 12px; padding: 2px; margin-left: 10px; border-radius: 2px; display: inline-block; line-height: 1; vertical-align: middle; margin-top: -0.2em; }
.status_tag:first-child { margin-left: 0; }
.status_tag.succeed { color: #1aad19; border: 1px solid #1aad19; }
.status_tag.info { color: #00acff; border: 1px solid #00acff; cursor: pointer; }
.status_tag.success { color: #34B633; border: 1px solid #34B633; cursor: pointer; padding: 2px 3px; line-height: 15px; }
.status_tag.icon_after i { margin-left: 3px; }
.icon_code_qrcode { cursor: pointer; background: url(/public/wxapp/images/icon_code_applet.png) 0 0 no-repeat; width: 12px; height: 12px; vertical-align: middle; display: inline-block; line-height: 300px; overflow: hidden; margin-top: -2px; }
.status_tag:hover .icon_code_qrcode { background-position: 0 -16px; }
.btn-box .code-version-dropmenu { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 0 20px #e4e8eb; -moz-box-shadow: 0 0 20px #e4e8eb; -webkit-box-shadow: 0 0 20px #e4e8eb; background-color: #fff; text-align: center; font-size: 14px; position: absolute; top: 100%; right: -45px; margin-top: 10px; display: none; }
.btn-box .code-version-dropmenu a { text-decoration: none; color: #353535; display: block; min-width: 90px; padding: 0 22px; line-height: 40px; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; border-top: 1px solid #e7e7eb; }
.btn-box .code-version-dropmenu a:first-child { border-top-width: 0; }

/*æ¨¡æ€æ¡†ç›¸å…³*/
.sacan-code-box .code_qrcode { display: inline-block; vertical-align: top; padding: 12px; background-color: #f6f8f9; margin-top: 10px; }
.sacan-code-box .code_qrcode .pic_code_qrcode { width: 180px; height: 180px; display: block; margin: 0 auto; }
.sacan-code-box .code_qrcode .code_qrcode_title { display: block; font-weight: 400; padding-bottom: .5em; }
.sacan-code-box .code_qrcode .code_qrcode_title { padding: 14px 0 0; }
.bottom-opera-box { margin-top: 35px; margin-bottom: 10px; }
.check-setting-wrap .title-name { font-size: 15px; font-weight: bold; margin: 0; margin-bottom: 10px; }
.check-setting-wrap .nav-setting-box { padding-left: 20px; }
.check-setting-wrap .simple_preview_label { color: #333; line-height: 34px; width: 60px; text-align: center; }
.check-setting-wrap .simple_preview_item { padding: 5px 0; }
.check-setting-wrap .simple_preview_item .input-right { margin-left: 70px; }
.sp-replacer { height: 34px; padding: 6px 4px; border: 1px solid #ddd; }

/*åº•éƒ¨èœå•æ˜¾ç¤º*/
.bottom-menu-box{display: inline-block;vertical-align: middle;font-size: 13px;}
.bottom-menu-opera{margin-bottom: 3px;min-height: 58px;}
.bottom-menu { white-space: nowrap;  border: 1px solid #dfdfdf; padding: 2px 10px; display: inline-block;vertical-align: middle;}
.bottom-menu-item { display: inline-block; width: 60px; }
.bottom-menu-item img { height: 35px; width: 35px; display: block; margin: 0 auto; }
.bottom-menu-item p { margin: 0; text-align: center; font-size: 12px; color: #666; }
.modify-box{display: inline-block;padding: 14px 20px;vertical-align: middle;}
#cdgx .simple_preview_label {width:7em;}
#cdgx .simple_preview_item .simple_preview_value {margin-left:7em;}
